body {
    background-image: url("../images/bg.jpg");
}

h1 {
    color: white;
    text-align: center;
}

h3 {
    color: white;
    text-align: center;
}

#text {
    white-space: pre-wrap;
    word-wrap: break-word;
}

#doc {
    text-align: center;
    font-size: large;
}

.div-container {
    background-color: #666666; 
    opacity: 0.95; 
    display: block;
    color:whitesmoke;
}

.div-artworkContainer {
    background-color: #666666; 
    opacity: 0.95; 
    display: block;
    color:whitesmoke;
    text-align: center;
}

