body {
 
    background-image: url("../images/bg.jpg");
}

h1 {
    color: white;
    text-align: center;
}

#text {
    white-space: pre-wrap;
    word-wrap: break-word;
}

#doc {
    text-align: center;
    font-size: large;
}

div {
    color: black;
}

h3 {
    color: blue;
}