<br />
    <h1>About Us</h1>
    <hr />
        <h3>My Story </h3>
        <h4>Avanti Patil (CS 5610 - Web Development)  </h4>
        College of Computer and Information Science, Northeastern University
        <br />
        Instructor: <a href="http://net4.ccs.neu.edu/home/jga/" target="_blank">Prof. Jose Annunziato </a>
        <h4>About me: </h4>
        <h5>Techie . Foodie . Humorous . Photographer . Poetess </h5>
        <p>
            I am a student from India. I am currently a candidate for the Master in Computer Science Program at Northeastern University.<br />
            Kind of a person who likes to paint life on bigger canvas.<br />
            Loves life and all gifts given by god especially family cause "Family is Forever"!<br />
            I am very passionate about Web Development.<br />
            I have experimented with lots of new technologies like Node.js, MongoDB, CSS3, HTML5 while building this project. :)

        </p>
        <h3>Why Atristic Collab?</h3>
        <ul>
            <li>Artistic Collab is a project where each user can get a chance to upload their own creatation. </li>
            <li>Rather than just exhibiting and admiring each others work as isolated individuals, people can get gather to work on projects.</li>
            <li>Some of them may have some interesting Music created ,painting, Video or just a poem or an article.</li>
            <li>Other people can watch, like comment these artworks.</li>
            <li>Everyone gets a customized feed of these artworks if they follow other users.</li>
            <li>They can see the liked artworks in their own page whenever they want.</li>
        </ul>
        <br />
         It's All about sharing the ideas! :)  <br />
        - Kudos to the Internet! :D <br /><br /><br />
