<h1>About</h1>
<div>
    <div class="container div-container center-block img-rounded">
        <div>
            <br /><br /><br />
            Artistic Collab is a project where each user can get a chance to upload their own creatation. <br /><br />
            Rather than just exhibiting and admiring each others work as isolated individuals, people can get gather to work on projects.<br /><br />
            Some of them may have some interesting Music created ,painting, Video or just a poem or an article.<br /><br />
            Other people can comment watch, like and share this material.<br /><br /><br /><br />
        </div>
    </div>
</div>