<h1>Comments:</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th><input class="form-control" ng-model="text" placeholder="Enter Comment" /></th>
            <th>
                <button ng-click="add(text)" class="btn btn-success pull-right">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="cmt in comments">
            <td>{{cmt.username}}</td>
            <td>{{cmt.text}}</td>
        </tr>
    </tbody>
</table>
