<h3>My Favourite Artworks info</h3>
<div class="container center-block" ng-show="artwork.length == 0">
    <h4>No artworks found! <br /> Try adding some artworks to Favourites</h4>
</div>
<div class="row" ng-repeat="aw in artwork">
    <div class="row">
        <hr />
        <div class="col-lg-12 center-block" ng-show="alreadyLiked($index)">
            <h4> Artwork name: {{aw.artworkname}} </h4>
            <div class="text-center">
                <img ng-src="{{aw.artwork}}" ng-show="aw.type == 'Image'" class="avatar img-thumbnail">
                <span ng-show="aw.type == 'Writing'" class="div-artworkContainer img-rounded">{{aw.artwork}}</span>
                <div ng-show="aw.type == 'Video link'">
                    <iframe width="800" height="500" ng-src="{{trustSrc(aw.artwork)}}"></iframe>
                </div>
            </div>

            <div class="col-md-12 center-block">
                <h4>Posted by: {{aw.username}} </h4>
                <div class="form-group">
                    <div class="col-md-2 col-lg-offset-3">
                        <button class="btn btn-warning" ng-click="like($index)" ng-hide="alreadyLiked($index)">
                            Likes : {{aw.likes.length}} <span class="glyphicon glyphicon-thumbs-up "></span>
                        </button>
                        <button class="btn btn-warning" ng-click="unlike($index)" ng-show="alreadyLiked($index)">
                            Unike <span class="glyphicon glyphicon-thumbs-down"></span>
                        </button>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-info" ng-click="showComment($index)">
                            Comments : {{aw.comments.length}}
                        </button>
                    </div>
                    <br />
                    <div class="form-group col-lg-offset-3 col-lg-6" ng-show="showcmt && (selectedIndex == $index)">
                        <h4>Comments:</h4>
                        <div ng-show="selectedArtwork.comments.length == 0">
                            No Comments yet!
                        </div>
                        <div ng-repeat="cmt in selectedArtwork.comments">
                            {{cmt.text}} - by {{cmt.username}}
                        </div>
                        <input ng-model="comment.text" class="form-control" id="comment.text" type="text">
                        <button class="btn btn-info pull-right" ng-click="addComments(comment)"> Add Comments</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
