<h1><i>Artistic Collab </i></h1> 
<div class="container center-block">
    <div style="height: 305px">
        <carousel interval="myInterval">
            <slide ng-repeat="slide in slides" active="slide.active">
                <img ng-src="{{slide.image}}" style="margin:auto; width:600px ; height: 290px">
                <div class="carousel-caption">
                    <h4>{{slide.text}}</h4>
                    <p>Create . Comment . Like</p>
                </div>
            </slide>
        </carousel>
    </div>
    <div-container class="container center-block img-rounded">
        <h3>Artworks</h3>
        <div class="row" ng-repeat="aw in artwork">
            <!-- left column -->
            <div class="col-md-8">
                Artist:
                {{aw.username}}
                <div class="text-center alert-success">
                    <img ng-src="{{aw.artwork}}" ng-show="aw.type == 'Image'" class="avatar">
                    <span ng-hide="aw.type == 'Image'">{{aw.artwork}}</span>
                </div>
            </div>
            <!-- edit form column -->
                <div class="form-group col-md-2">
                    <button class="btn btn-danger pull-right" ng-click="upvote(aw._id)">
                        <span class="glyphicon glyphicon-heart-empty">
                        </span>
                    </button>
                </div>
            </div>
    </div-container>

</div>
