<div class="container">
    <h1>Edit Profile</h1>
    <hr>
    <div class="row">
        <!-- left column -->
        <div class="col-md-3">
            <div class="text-center">
                <img ng-src="{{loc}}" width="100" height="100" class="avatar img-circle" alt="avatar">
                <h6>Upload a different photo...</h6>

                <input ng-model="photo" class="form-control" id="filePicker" type="file">
            </div>
        </div>

        <!-- edit form column -->
        <div class="col-md-9 personal-info">
            <div ng-show="match" class="alert alert-info alert-dismissable">
                <i class="fa fa-coffee"></i>
                Please verify the entered password
            </div>
            <div ng-show="save" class="alert alert-info alert-dismissable">
                <i class="fa fa-coffee"></i>
                Saved
            </div>
            <h3>Personal info</h3>

            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-lg-3 control-label">First name:</label>
                    <div class="col-lg-8">
                        <input ng-model="firstname_edit" class="form-control" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Last name:</label>
                    <div class="col-lg-8">
                        <input ng-model="lastname_edit" class="form-control" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Email:</label>
                    <div class="col-lg-8">
                        <input ng-model="email_edit" class="form-control" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Username:</label>
                    <div class="col-md-8">
                        {{username}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Password:</label>
                    <div class="col-md-8">
                        <input ng-model="password_edit" class="form-control" type="password">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Confirm password:</label>
                    <div class="col-md-8">
                        <input ng-model="repassword_edit" class="form-control" type="password">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-8">
                        <input class="btn btn-primary" value="Save Changes" ng-click="saveChanges()" type="button">
                        <span></span>
                        <input class="btn btn-default" value="Cancel" type="reset">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
